.goods{
    position: absolute;
    display: flex;
    top:174px;
    bottom: 46px;
    width: 100%;
    overflow: hidden;
}
.goods .menu-wrapper{
    flex: 0 0 80px;
    width: 80px;
    background: #f3f5f7;
}
.goods .menu-wrapper .menu-item{
    display: table;
    height: 54px;
    width: 56px;
    padding: 0 12px;
    line-height: 14px;
}
.goods .menu-wrapper .menu-item.current{
    position: relative;
    z-index: 1;
    margin-top: -1px;
    background: #fff;
    font-weight: 700;
}
.goods .menu-wrapper .menu-item .text{
    display: table-cell;
    width: 56px;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
}
.goods .menu-wrapper .menu-item .icon{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}
.goods .foods-wrapper{
    flex: 1;
}
.goods .foods-wrapper .title{
    padding-left: 14px;
    height: 26px;
    line-height: 26px;
    border-left: 2px solid #d9dde1;
    background: #f3f5f7;
    color: #999;
    font-size: 12px;
}
.goods .foods-wrapper .food-item{
    display: flex;
    margin: 18px;
    padding-bottom: 18px;
    position: relative;
}
.goods .foods-wrapper  .icon{
    flex: 0 0 57px;
    margin-right: 10px;
}
.goods .foods-wrapper .content{
    flex: 1;
}
.goods .foods-wrapper .content .name{
    font-size: 14px;
    color: #07111b;
    margin: 0 0 10px 0;
}
.goods .foods-wrapper .content .desc,.goods .foods-wrapper .content .extra{
    font-size: 10px;
    color: #93999f;
    line-height: 12px;
    margin-bottom: 8px;
}
.goods .foods-wrapper .content .price{
    line-height: 24px;
    float: left;
}
.goods .foods-wrapper .food-item .content .price .now{
    color: #f00;
    font-size: 14px;
    margin-bottom: 8px;
}
.goods .foods-wrapper .title {
    padding-left: 14px;
    height: 26px;
    line-height: 26px;
    border-left: 2px solid #d9dde1;
    font-size: 12px;
    color: #93999f;
    background: #f3f5f7;
}