.start{
    font-size: 0;
}
.star-wrapper{
    text-align: center;
    margin-top: 17px;
}
.star .star-item{
    display: inline-block;
    background-repeat: no-repeat;
    width: 12px;                                                                                                                                                                                                                                                                                                        
    height: 12px;
    background-size: cover;
}
.star .star-item.on{
    background-image: url(./star24_on@2x.png);
}
.star .star-item.off{
    background-image: url(./star24_off@2x.png);
}
.star .star-item.half{
    background-image: url(./star24_half@2x.png)
}